/Configuration.class
/ConfigurationInterface.class
/DatasourceConnection.class
/GraderDatasource.class
/Graph.class
/JoinAndUniqueAttributes.class
/JoinGraphNode.class
/MyConnection.class
/TableMap.class
/TagDatasets$MutationType.class
/TagDatasets$QueryBlock.class
/TagDatasets.class
/TestThread.class
/TesterDatasource.class
/Utilities.class
